<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{url}}</title>
</head>
<body>
{% for uri,rdfs in data -%}

	<h3>{{uri}}</h3>
	<table border="1">

	{% if rdfs|length == 0 -%}
		<tr><td colspan="2">データがありません</td></tr>
	{% endif -%}

	{% for key,val in rdfs -%}
		<tr>
		{% if key matches '{^https?://.+$}' -%}
			<td><a href="{{ key }}" target="_blank">{{ key }}</a></td>
		{%- else -%}
			<td>{{ key }}</td>
		{%- endif -%}

		<td>
			{%- for v in val -%}
				{%- if v is defined and v.value is defined -%}
					{% if v.value matches '{^https?://.+?\.(jpg|jpeg|gif|png)$}' -%}
						<a href="{{ v.value }}" target="_blank"><img src="{{ v.value }}" /></a>
					{% elseif v.value matches '{^https?://.+$}' -%}
						<a href="{{ v.value }}" target="_blank">{{ v.value }}</a>
					{% elseif v.value matches '{^mailto:.+$}' -%}
						<a href="{{ v.value }}" target="_blank">{{ v.value }}</a>
					{% else -%}
						{{ v.value }}
					{%- endif -%}
					<br>
				{%- endif -%}
			{% endfor -%}
		</td>

		</tr>
	{% endfor -%}

	</table>
{% endfor -%}

</body>
</html>