<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{url}}</title>
</head>
<body>
{% for uri,rdfs in data %}
<h3>{{uri}}</h3>
<table border="1">
{% for key,val in rdfs %}
	<tr>
{% if key matches '{^https?://.+$}' %}
		<td><a href="{{ key }}" target="_blank">{{ key }}</a></td>
{% else %}
		<td>{{ key }}</td>
{% endif %}
{% if val[0] is defined and val[0].value is defined %}
{% if val[0].value matches '{^https?://.+?\.(jpg|jpeg|gif|png)$}' %}
		<td><a href="{{ val[0].value }}" target="_blank"><img src="{{ val[0].value }}" /></a></td>
{% elseif val[0].value matches '{^https?://.+$}' %}
		<td><a href="{{ val[0].value }}" target="_blank">{{ val[0].value }}</a></td>
{% elseif val[0].value matches '{^mailto:.+$}' %}
		<td><a href="{{ val[0].value }}" target="_blank">{{ val[0].value }}</a></td>
{% else %}
		<td>{{ val[0].value }}</td>
{% endif %}
{% else %}
		<td>valueの取得に失敗しました</td>
{% endif %}
	</tr>
{% else %}
	<tr><td colspan="2">データがありません</td></tr>
{% endfor %}
</table>
</ul>
{% endfor %}
</body>
</html>