<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{title}}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type="text/css">
th.bnode{width:30%;}
</style>
</head>
<body>
<div class="container">
{% for uri,rdfs in data -%}
{% if uri matches '{^(?!_:).+$}i' -%}

	{% if url == uri -%}
	<div class="jumbotron">
		<div class="container">
			<h2>{{title}}</h2>
		</div>
	</div>
	{% else %}
	<h3>{{ uri }}</h3>
	{% endif %}
	
	<table class="table  table-bordered">
	{% if rdfs|length == 0 -%}
		<tr><td colspan="2">データがありません</td></tr>
	{% endif -%}

	{% for key,val in rdfs -%}
		<tr>
		{% if key matches '{^https?://.+$}' -%}
			<th><a href="{{ key }}" target="_blank">{{ shorten(key) }}</a></th>
		{%- else -%}
			<th>{{ shorten(key) }}</th>
		{%- endif -%}

		<td>
			{%- for v in val -%}
				{%- if v is defined and v.value is defined -%}
					{% if v.type is defined and v.type == "bnode" -%}
						{{ bnode_info(v.value, data)|raw }}
					{%- elseif v.value matches '{^https?://.+?\.(jpg|jpeg|gif|png)$}' -%}
						<a href="{{ v.value }}" target="_blank"><img src="{{ v.value }}" /></a>
					{%- elseif v.value matches '{^https?://.+$}' -%}
						<a href="{{ v.value }}" target="_blank">{{ shorten(v.value) }}</a>
					{%- elseif v.value matches '{^mailto:.+$}' -%}
						<a href="{{ v.value }}" target="_blank">{{ shorten(v.value) }}</a>
					{%- else -%}
						{{ v.value }}
					{%- endif -%}
					<br>
				{%- endif -%}
			{% endfor -%}
		</td>

		</tr>
	{% endfor -%}

	</table>

{{ getlatlng(rdfs)|raw }}

{% endif -%}
{% endfor -%}
</div>
</body>
</html>